name: Nightly Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  schedule:
    - cron: '0 0 * * *' # Daily at midnight
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-nightly:
    name: Build Nightly
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive
        with:
          fetch-depth: 0

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Build Nightly APK
        run: ./gradlew assembleRelease -Pnightly

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: naiko-nightly
          path: app/build/outputs/apk/release/*.apk
          retention-days: 7
